<p><h1>Find a Ride</h1></p>
<%= form_tag find_rides_rides_path, :method => 'get' do %>
  <div class="field">
    <%= label_tag :source %><br />
    <%= text_field_tag "search[source]" %>
  </div>
  <div class="field">
    <%= label_tag :destination %><br />
    <%= text_field_tag "search[destination]" %>
  </div>
  <div class="field">
    <%= label_tag :seats %><br />
    <%= text_field_tag "search[seats]" %>
  </div>
  <div class="actions">
    <%= submit_tag "Search" %><br />
  </div>
<% end %>
<%= link_to 'Back', rides_path %>